@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

@media (min-width: 768px){
    .nav{
        @apply flex flex-col gap-8;
        justify-content: center;
        background-color: #212121;
        margin-left: 20px;
    }
}
@media (max-width: 768px){
    #contact{
        @apply flex flex-row gap-8;
        justify-content: center;
    
    }
}